.resultado{
    display: block;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
   
    
   margin-top: 130px;
   margin-left: 450px;
   margin-right: 500px;
   margin-bottom: 40px;
   background-color: rgba(255, 0, 0, 0.67);
   border-radius: 20%;
   border-style: solid  ;
   border-color: black;

  
}

body{
    background-color: rgba(181, 213, 255, 1);
      
}
